In [1]:
import pandas as pd
import numpy as np

In [2]:
# dummy data as example
age = ['18 to 25','26 to 35','36 to 45','46 to 60','>= 60']
df = pd.DataFrame(age, columns=['Age Group'])
df['counts'] = [31234, 30293, 29384, 30192, 27394]
df['bad'] = [4920, 4123, 3784, 2608, 1479]
df['good'] = df.counts - df.bad

# calculate WOE
df['total_distri'] = df.counts/sum(df.counts)
df['bad_distri'] = df.bad/sum(df.bad)
df['good_distri'] = df.good/sum(df.good)
df['WOE'] = np.log(df.good_distri / df.bad_distri)
df['WOE%'] = df.WOE * 100

In [3]:
df

,Age Group,counts,bad,good,total_distri,bad_distri,good_distri,WOE,WOE%
0,18 to 25,31234,4920,26314,0.210334,0.290883,0.199980,-0.374704,-37.470356
1,26 to 35,30293,4123,26170,0.203997,0.243763,0.198886,-0.203463,-20.346349
2,36 to 45,29384,3784,25600,0.197876,0.223720,0.194554,-0.139685,-13.968545
3,46 to 60,30192,2608,27584,0.203317,0.154192,0.209632,0.307156,30.715610
4,>= 60,27394,1479,25915,0.184475,0.087442,0.196948,0.811960,81.195962